{% extends "base.html" %}
{% load static %}

    {% block page_styles %}

    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
    
    {% endblock %}

    {%block page_title%}

        {{ month_name|title }} Challenge

    {% endblock %}  
    
    {% block page_content%}
    {% include "./shared/header.html/" %}
    
        <div class="container">
          {% if month_name %}
          <h1>This {{ month_name|title }}'s Challenge Is</h1>
          {% endif %}
          <h2>{{ monthly_challenge }}</h2>

          <ul>
            {% for month in months %}
            <li>
              <a href="{% url 'month-challenge' month %}">{{ month|capfirst }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
    {% endblock%}
